<app-header></app-header>
<section class="admin" style="background-color: whitesmoke">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="https://img.freepik.com/free-vector/my-password-concept-illustration_114360-4294.jpg?w=740&t=st=1711897315~exp=1711897915~hmac=b326ad4b7b226d7504ce150e21ea192bc8fcf2a006ef345487ee2022291aa0a0"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; padding-top: 50px;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <!-- <form [formGroup]="customerLoginForm "(ngSubmit)="loginuser()"> -->
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <span class="h1 fw-bold mb-0">Elite Services</span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Login into Customer Portal</h5>
  
                    <div class="form-outline mb-4">
                      <input name="Username" formControlName="Username" type="text"  class="form-control form-control-lg" />
                      <label class="form-label" >Username</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input formControlName="Password" name="Password" type="password"  class="form-control form-control-lg" />
                        <label class="form-label" >Password</label>
                      </div>
                   
  
                    <div class="pt-1 mb-4">
                      <button class="btn btn- btn-lg btn-block text-light"   type="submit" routerLink="/customer/customerpage">Login</button>
                    </div>
                    
  
                    <p class="mb-5 pb-lg-2" style=" color:  #9705a1;">New User? &nbsp;&nbsp;&nbsp;&nbsp;
                         <a routerLink="/customer/customerregister" style=" color:  #9705a1;">Register here</a></p>
                    <a href="" class="small " >Terms of use.</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="" class="small ">Privacy policy</a>
                  <!-- </form> -->
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
<div class="div  text-dark">
    <footer class="text-center text-lg-start  text-muted">
        <!-- Section: Social media -->
        <section class="d-flex   justify-content-lg-between p-4 border-bottom">
          <!-- Left -->
          <div class="me-5 d-none d-lg-block " style="color:  whitesmoke;">
            <span>Get connected with us on social networks:</span>
          </div>
          <!-- Left -->
      
          <!-- Right -->
          <div>
            <a href="" class="me-4 text-reset " style="color: whitesmoke;">
              <i class="fab fa-facebook-f" style="color:  whitesmoke;"></i>
            </a>
            <a href="" class="me-4 text-reset text-white">
              <i class="fab fa-twitter" style="color:  whitesmoke;"></i>
            </a>
            <a href="" class="me-4 text-reset text-white">
              <i class="fab fa-google" style="color:   whitesmoke;"></i>
            </a>
            <a href="" class="me-4 text-reset text-white">
              <i class="fab fa-instagram" style="color:   whitesmoke;"></i>
            </a>
            <a href="" class="me-4 text-reset text-white">
              <i class="fab fa-linkedin"style="color:  whitesmoke;"></i>
            </a>
            <a href="" class="me-4 text-reset text-white">
              <i class="fab fa-github" style="color:  whitesmoke;"></i>
            </a>
          </div>
          <!-- Right -->
        </section>
        <!-- Section: Social media -->
         <!-- Copyright -->
         <div class="text-center p-4 text-" style="background-color:   #9705a1" style="color:   whitesmoke;">
            © 2023 Copyright:
            <a class="text-reset fw-bold text-white" href="https://mdbootstrap.com/" style="color:  whitesmoke;">Eliteservices.com</a>
          </div>
      
          <!-- Copyright -->
        </footer>
      </div>
        <!-- Footer -->


