.service{
    font-family: 'Times New Roman', Times, serif;
}


.card{
    width: 300px;
    height: 355px;
    margin-left: 60px;
    margin-right: 60px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: #ffffff;
   border: 10;

}

.card :hover{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.container1{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    margin-left: 60px;
    margin-right: 60px;
    line-height: 30px;
    
}

.img{
border-radius: 20px;
box-shadow: #ffffff;
transition: cubic-bezier(0.075, 0.82, 0.165, 1);

}

.img :hover {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    
}

.btn{
    color: #ffffff;
    background-color:#9705a1;
    margin-left: 50px;
    margin-right: 50px;
}
.div{
    background-color: #9705a1;
    font-family: 'Arbutus Slab', serif;
    font-size: larger;
    color:whitesmoke;
    size: 20px;
}



.card-title{
    text-decoration: solid;
    font-weight:900;
    
}

