
<nav class="navbar navbar-expand-lg  "style="width: 100%;  z-index: 1000;"> 
    <div class="container-fluid">
      <a class="navbar-brand ms-lg-5 fw-bold font-awesome fs-2"routerLink="main/home" style="color:  white;" ><i class="fa-solid fa-house-chimney-home" style="color: #0e0202ec;"></i>Elite Services</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fw-bold text-light">
          <li class="nav-item">
            <a class="nav-link active ms-lg-4 me-4 "  aria-current="page" routerLink="/" style="color:   white;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active ms-lg-4 me-4" routerLink="/home/services" style="color: white;">Services</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link active ms-lg-4 me-4" routerLink="/home/finddoctor" style="color:#ff4d00;">Find a doctor</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link active ms-lg-4 me-4" routerLink="/home/contactus" style="color:  white;">Contact Us</a>
          </li>
         
          <button class="btn btn- ms-lg-3 me-5 text-white fw-bold border-white" routerLink="/customer/customerlogin"   style="color: white;" ><i class="fa-solid fa-users" style="color: #ffffff;"></i> Customer Portal</button>
          <button class="btn btn- ms-lg-3 me-5 text-white fw-bold border-white" routerLink="/serviceprovider/serviceproviderlogin"   style="color:  white;" ><i class="fa-solid fa-users" style="color:   #ffffff;"></i> Service Provider Portal</button>

          <button class="btn btn- ms-lg-4 me-5 text-white fw-bold border-white" routerLink="/admin/adminlogin"  style="color:  white;" > <i class="fa-solid fa-user " style="color: #ffffff;"></i> Admin Portal</button>

        </ul>
       
      </div>
    </div>
  </nav>

