<nav class="navbar navbar-expand-lg  " style="width: 100%;  z-index: 1000;">
    <div class="container-fluid">
        <a class="navbar-brand ms-lg-5 fw-bold font-awesome fs-2" routerLink="main/home" style="color:  white;"><i
                class="fa-solid fa-house-chimney-home" style="color: #0e0202ec;"></i>Elite Services</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fw-bold text-light">
                <li class="nav-item">
                    <a class="nav-link active ms-lg-4 me-4 " aria-current="page" routerLink="/"
                        style="color:   white;">Home</a>
                </li>



                <li class="nav-item">
                    <a class="nav-link active ms-lg-4 me-4" routerLink="/home/contact" style="color:  white;">Contact Us</a>
                </li>



            </ul>
        </div>
    </div>
</nav>

<section>
    <h2 class="text-center mt-5 me-4" style="font-family: 'Times New Roman', Times, serif; color: #9705a1; font-size: 36px;">Explore More About Our Services </h2>




    <section id="Viewmore">
        <div class="m1">
            <div id="interior-cleaning" class="brand-card">
                <div class="pics">
                    <img src="https://5.imimg.com/data5/SELLER/Default/2020/9/KJ/YD/ZU/73889041/common-house-cleaning-service-duties-500x500.jpg"
                        alt="Interior Cleaning Image">
                </div>
                <div class="intro">
                    <h2>Interior Cleaning </h2>
                    <p class="brand-p">
                    <ul>
                        <li><strong class="service-heading">Room, Bathroom, and Kitchen Cleaning:</strong> From
                            scrubbing and sanitizing surfaces to mopping floors, we ensure every corner is pristine.
                        </li>
                        <li><strong class="service-heading">Dusting and Vacuuming:</strong> We eliminate dust and
                            allergens, leaving your home or office fresh and healthy.</li>
                        <li><strong class="service-heading">Floor Care:</strong> Our expert team rejuvenates all types
                            of flooring, maintaining their beauty and durability.</li>
                        <li><strong class="service-heading"> Carpet Cleaning: </strong>Our professional carpet cleaning
                            services use advanced techniques to remove stains, odors, and dirt, leaving your carpets
                            fresh and revitalized.</li>
                    </ul>


                </div>
            </div>
        </div>
        <hr>
        <div class="m1">
            <div class="brand-card">

                <div class="intro">
                    <h2>Exterior Cleaning </h2>
                    <p class="brand-p">
                    <ul>
                        <li><strong class="service-heading">Exterior Wall Cleaning:</strong> We thoroughly clean and
                            remove dirt, grime, and stains from exterior walls, restoring their appearance and
                            protecting against deterioration.</li>
                        <li><strong class="service-heading">Window Washing:</strong> Our window washing services ensure
                            sparkling clean windows, enhancing natural light and views from your home or office.</li>
                        <li><strong class="service-heading">Gutter Cleaning:</strong> We remove leaves, debris, and
                            blockages from gutters and downspouts, preventing water damage and maintaining proper
                            drainage.</li>
                        <li><strong class="service-heading">Pressure Washing:</strong> Our professional pressure washing
                            services effectively clean driveways, sidewalks, decks, and other outdoor surfaces, removing
                            stubborn stains and contaminants.</li>
                    </ul>
                    <!-- <h4>Please note that additional services beyond the scope of our standard cleaning package may be available upon request and are subject to extra charges.</h4> -->

                </div>
                <div class="pics">
                    <img src="https://advantageproservices.com/wp-content/uploads/2023/01/shutterstock_1116910898.jpg"
                        alt="Exterior Cleaning Image">
                </div>

            </div>
        </div>
        <hr>
        <div class="m1">
            <div class="brand-card">
                <div class="pics">
                    <img src="https://t4.ftcdn.net/jpg/02/20/20/41/360_F_220204174_vfgB0Vo2i4MZ8Sv5hmtsx5IwcvrDCZox.jpg"
                        alt="Plumbing Works Image">
                </div>
                <div class="intro">
                    <h2>Plumbing Works</h2>
                    <p class="brand-p">
                    <ul>
                        <li><strong class="service-heading">Pipe Repair and Installation:</strong> Our skilled plumbers
                            provide expert repair and installation services for pipes, ensuring proper functioning and
                            water flow.</li>
                        <li><strong class="service-heading">Fixture Replacement:</strong> We replace old or
                            malfunctioning fixtures such as faucets, sinks, toilets, and showers, enhancing the
                            functionality and aesthetics of your plumbing system.</li>
                        <li><strong class="service-heading">Drain Cleaning:</strong> Our drain cleaning services
                            effectively remove clogs and blockages from drains and sewer lines, preventing backups and
                            water damage.</li>
                        <li><strong class="service-heading">Water Heater Services:</strong> We offer maintenance,
                            repair, and installation services for water heaters, ensuring reliable hot water supply
                            throughout your property.</li>
                    </ul>

                </div>
            </div>
        </div>
        <hr>
        <div class="m1">
            <div class="brand-card">

                <div class="intro">
                    <h2>Electrical Works</h2>
                    <p class="brand-p">
                    <ul>
                        <li><strong class="service-heading">Electrical Wiring:</strong> Our experienced electricians
                            provide expert wiring services for new construction or renovations, ensuring safe and
                            efficient electrical systems.</li>
                        <li><strong class="service-heading">Lighting Installation:</strong> We install various types of
                            lighting fixtures, including recessed lights, chandeliers, and outdoor lighting, to enhance
                            the ambiance and functionality of your space.</li>
                        <li><strong class="service-heading">Outlet and Switch Installation:</strong> We install outlets,
                            switches, and dimmers, providing convenient access to electricity throughout your property.
                        </li>
                        <li><strong class="service-heading">Electrical Panel Upgrades:</strong> We upgrade electrical
                            panels to accommodate increased power demands and ensure the safety and reliability of your
                            electrical system.</li>
                    </ul>

                </div>
                <div class="pics">
                    <img src="https://ultrapowerelectrical.com.au/wp-content/uploads/2023/05/ultra-power-switchboards-1.jpg"
                        alt="Electrical Works Image">
                </div>
            </div>
        </div>
        <hr>
        <div class="m1">
            <div class="brand-card">
                <div class="pics">
                    <img src="https://img.freepik.com/free-photo/carpenter-cutting-mdf-board-inside-workshop_23-2149451066.jpg"
                        alt="Carpentry Works Image">
                </div>
                <div class="intro">
                    <h2>Carpentry Works</h2>
                    <p class="brand-p">
                    <ul>
                        <li><strong class="service-heading">Custom Furniture:</strong> Our skilled carpenters craft
                            custom furniture pieces tailored to your style and specifications, enhancing the beauty and
                            functionality of your space.</li>
                        <li><strong class="service-heading">Cabinet Installation:</strong> We install cabinets in
                            kitchens, bathrooms, and other areas, providing ample storage solutions and optimizing
                            organization.</li>
                        <li><strong class="service-heading">Trim and Molding:</strong> We install trim and molding to
                            add architectural detail and elegance to your home, enhancing visual appeal and value.</li>
                        <li><strong class="service-heading">Door and Window Installation:</strong> We install doors and
                            windows, ensuring proper fit and functionality, and enhancing security and energy
                            efficiency.</li>
                    </ul>

                </div>
            </div>
        </div>
        <hr>
        <div class="m1">
            <div class="brand-card">

                <div class="intro">
                    <h2>Painting Services</h2>
                    <p class="brand-p">
                    <ul>
                        <li><strong class="service-heading">Interior Painting:</strong> Our skilled painters provide
                            professional interior painting services, transforming your space with fresh colors and
                            finishes.</li>
                        <li><strong class="service-heading">Exterior Painting:</strong> We offer exterior painting
                            services to enhance the curb appeal and protection of your property, using high-quality
                            paints and materials.</li>
                        <li><strong class="service-heading">Surface Preparation:</strong> We ensure proper surface
                            preparation, including cleaning, sanding, and priming, to achieve smooth and long-lasting
                            paint results.</li>
                        <li><strong class="service-heading">Trim and Detail Painting:</strong> We pay attention to
                            detail when painting trim, doors, and other architectural features, providing a professional
                            and polished finish.</li>
                    </ul>

                </div>
                <div class="pics">
                    <img src="https://www.shutterstock.com/image-photo/young-painting-facade-builder-worker-600nw-78853699.jpg"
                        alt="Painting Services Image">
                </div>
            </div>
        </div>
        <hr>
        <div class="m1">
            <div class="brand-card">
                <div class="pics">
                    <img src="https://i.pinimg.com/originals/b2/b8/46/b2b846c502dd52147daedb7401741c57.jpg"
                        alt="Gardening Services Image">
                </div>
                <div class="intro">
                    <h2>Gardening Services</h2>
                    <p class="brand-p">
                    <ul>
                        <li><strong class="service-heading">Landscape Design:</strong> Our expert gardeners create
                            beautiful and functional landscape designs tailored to your preferences and property's
                            features.</li>
                        <li><strong class="service-heading">Planting and Maintenance:</strong> We handle planting,
                            pruning, and ongoing maintenance of plants, shrubs, and trees to keep your garden
                            healthy
                            and vibrant.</li>
                        <li><strong class="service-heading">Lawn Care:</strong> We provide lawn mowing,
                            fertilization,
                            aeration, and weed control services to maintain a lush and healthy lawn throughout the
                            year.
                        </li>
                        <li><strong class="service-heading">Hardscape Installation:</strong> We install features
                            such as
                            patios, pathways, and retaining walls to enhance the functionality and aesthetics of
                            your
                            outdoor space.</li>
                    </ul>

                </div>
            </div>
        </div>
        <hr>
        <div class="m1">
            <div class="brand-card">

                <div class="intro">
                    <h2>Laundry Services</h2>
                    <p class="brand-p">
                    <ul>
                        <li><strong class="service-heading">Wash and Fold:</strong> We offer wash and fold
                            services for
                            your laundry, ensuring clean and neatly folded clothes ready for use.</li>
                        <li><strong class="service-heading">Dry Cleaning:</strong> We provide professional dry
                            cleaning
                            services for delicate or specialty garments, preserving their quality and
                            appearance.</li>
                        <li><strong class="service-heading">Ironing and Pressing:</strong> We offer ironing and
                            pressing
                            services to remove wrinkles and creases from your clothes, ensuring a polished and
                            professional look.</li>
                        <li><strong class="service-heading">Specialty Services:</strong> We handle specialty
                            items such
                            as linens, bedding, and uniforms with care and attention to detail, meeting your
                            specific
                            laundry needs.</li>
                    </ul>

                </div>
                <div class="pics">
                    <img src="https://img.freepik.com/premium-photo/young-husband-man-doing-laundry-home_85869-8880.jpg"
                        alt="Laundry Services Image">
                </div>
            </div>
        </div>
        <hr>

        <div class="m1">
            <div class="brand-card">
                <div class="pics">
                    <img src="https://img.freepik.com/free-photo/unrecognizable-cleaner-walking-into-hotel-room-with-tools-detergents_1098-17830.jpg"
                        alt="Additional Services Image">
                </div>
                <div class="intro">
                    <h2>Additional Services</h2>
                    <p class="brand-p">
                    <ul>
                        <li><strong class="service-heading">Moving Assistance:</strong> We provide moving
                            assistance
                            services to help you relocate smoothly, including packing, loading,
                            transportation, and
                            unpacking.</li>
                        <li><strong class="service-heading">Organization Services:</strong> We offer
                            organization
                            services to declutter and streamline your space, including closet organization,
                            pantry
                            organization, and home office organization.</li>
                        <li><strong class="service-heading">Event Planning:</strong> We specialize in event
                            planning
                            services for weddings, parties, and corporate events, handling everything from
                            venue
                            selection and decor to catering and entertainment.</li>
                        <li><strong class="service-heading">Handyman Services:</strong> We offer a range of
                            handyman
                            services for home repairs and maintenance tasks, including plumbing repairs,
                            electrical
                            work, and carpentry projects.</li>
                    </ul>

                </div>

            </div>

        </div>

       
        <hr>

        <h4 class="text-center">Please note that additional services beyond the scope of our standard cleaning package may be
            available upon request and are subject to extra charges. </h4>
    </section>







    <!-- Footer -->
    <div class="div  text-dark">
        <footer class="text-center text-lg-start  text-muted">
            <!-- Section: Social media -->
            <section class="d-flex   justify-content-lg-between p-4 border-bottom">
                <!-- Left -->
                <div class="me-5 d-none d-lg-block " style="color:  whitesmoke;">
                    <span>Get connected with us on social networks:</span>
                </div>
                <!-- Left -->

                <!-- Right -->
                <div>
                    <a href="" class="me-4 text-reset " style="color: whitesmoke;">
                        <i class="fab fa-facebook-f" style="color:  whitesmoke;"></i>
                    </a>
                    <a href="" class="me-4 text-reset text-white">
                        <i class="fab fa-twitter" style="color:  whitesmoke;"></i>
                    </a>
                    <a href="" class="me-4 text-reset text-white">
                        <i class="fab fa-google" style="color:   whitesmoke;"></i>
                    </a>
                    <a href="" class="me-4 text-reset text-white">
                        <i class="fab fa-instagram" style="color:   whitesmoke;"></i>
                    </a>
                    <a href="" class="me-4 text-reset text-white">
                        <i class="fab fa-linkedin" style="color:  whitesmoke;"></i>
                    </a>
                    <a href="" class="me-4 text-reset text-white">
                        <i class="fab fa-github" style="color:  whitesmoke;"></i>
                    </a>
                </div>
                <!-- Right -->
            </section>
            <!-- Section: Social media -->
            <!-- Copyright -->
            <div class="text-center p-4 text-" style="background-color:   #9705a1" style="color:   whitesmoke;">
                © 2023 Copyright:
                <a class="text-reset fw-bold text-white" href="https://mdbootstrap.com/"
                    style="color:  whitesmoke;">Eliteservices.com</a>
            </div>

            <!-- Copyright -->
        </footer>
    </div>
    <!-- Footer -->