.div{
    background-color: #9705a1;
    font-family: 'Arbutus Slab', serif;
    font-size: larger;
    color:whitesmoke;
    size: 20px;
    font-family: "Times New Roman", Times, serif;
}
.navbar{
    background-color: #9705a1;
    font-size: larger;
    font-family: "Times New Roman", Times, serif;
}
.nav-item{
color: aliceblue;
font-size:20px;
font-family: "Times New Roman", Times, serif;

}
.btn{
    color: #ff7300;
    background-color: #810d8ac9;
    font-family: "Times New Roman", Times, serif;
   
}
.service{
    font-family: 'Times New Roman', Times, serif;
}

.card{
    width: 400px;
    height: 400px;
    margin-left: 60px;
    margin-right: 60px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: #ffffff;
   border: 10;
   font-family: "Times New Roman", Times, serif;

}

.card :hover{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    font-family: "Times New Roman", Times, serif;
}

.container1{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    margin-left: 60px;
    margin-right: 60px;
    line-height: 30px;
    
}

.img{
border-radius: 20px;
box-shadow: #ffffff;
transition: cubic-bezier(0.075, 0.82, 0.165, 1);

}

.img :hover {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    
}

.btn{
    color: #ffffff;
    background-color:#9705a1;
margin-left: 10px;
    justify-content: center;
    font-family: "Times New Roman", Times, serif;
}




.card-title{
    text-decoration: solid;
    font-weight:900;
    font-family: "Times New Roman", Times, serif;
    
}

.h2{
    color: #810d8ac9;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

