.h5{
    font-weight: bold;
}
.admin{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    text-decoration: solid;
}
.btn{
    color:#9705a1;
    background-color:#9705a1;
    text-decoration:#9705a1;
}

.small{
    color: #044439;
}
.p{
    color:#9705a1;  
}

form{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #9705a1;
}

.img{
    height: 500px;
}
.div{
    background-color: #9705a1;
    font-family: 'Arbutus Slab', serif;
    font-size: larger;
    color:whitesmoke;
    size: 20px;
}