.h5{
    font-weight: bold;
}
.admin{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    text-decoration: solid;
}
.btn{
    color:#9705a1;
    background-color:#9705a1;
    text-decoration:#9705a1;
}

.small{
    color: #044439;
}
.p{
    color:#9705a1;  
}

form{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #9705a1;
}

.img{
    height: 500px;
}
.div{
    background-color: #9705a1;
    font-family: 'Arbutus Slab', serif;
    font-size: larger;
    color:whitesmoke;
    size: 20px;
}

.btn-secondary {
    background-color: #ffffff;
    color: #000000;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content label {
    display: block;
    margin-bottom: 6px;
}

.dropdown-content label input[type="checkbox"] {
    margin-right: 6px;
    
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn{
    background-color: white;
    width:550px;
    height: 45px;
}
.form-outline .dropbtn {
    text-align: left;
}

.form-outline .dropbtn i {
    margin-right: 5px; /* Adjust as needed */
}
