<nav class="navbar navbar-expand-lg  " style="width: 100%;  z-index: 1000;">
    <div class="container-fluid">
        <a class="navbar-brand ms-lg-5 fw-bold font-awesome fs-2" routerLink="main/home" style="color:  white;"><i
                class="fa-solid fa-house-chimney-home" style="color: #0e0202ec;"></i>Elite Services</a>
    </div>
</nav>

<section class="admin" style="background-color: whitesmoke">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block" style="margin-top: 150px;">
                <img src="https://img.freepik.com/free-vector/woman-choosing-her-dates-appointment-booking_23-2148552970.jpg?t=st=1711559581~exp=1711563181~hmac=1c664c304ff9d435e1f5f3f79fd91888e9f66247aa06d15d04f4bd387c57a3ee&w=740"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <!-- <form [formGroup]="customerLoginForm "(ngSubmit)="loginuser()"> -->
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <span class="h1 fw-bold mb-0">Elite Services</span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Book Your Services</h5>
  
                    <div class="form-outline mb-4">
                        <input type="text" id="provider" name="provider" class="form-control form-control-lg" value="Provider Name" required>
                        <label class="form-label" for="provider">Service Provider</label>
                      </div>
                      <div class="form-outline mb-4">
                        <input type="text" id="service" name="service" class="form-control form-control-lg" value="Selected Service" required>
                        <label class="form-label" for="provider">Service</label>
                      </div>
                      <div class="form-outline mb-4">
                        <input type="text" id="rate" name="rate" class="form-control form-control-lg" value="Selected Rate" required>
                        <label class="form-label" for="provider">Rate</label>
                      </div>
                      
                      <div class="form-outline mb-4">
                        <input type="date" id="date" name="date" class="form-control form-control-lg" required>
                        <label class="form-label" for="date">Date</label>
                      </div>
                      <div class="form-outline mb-4">
                        <input type="time" id="time" name="time" class="form-control form-control-lg" required>
                        <label class="form-label" for="time">Time</label>
                      </div>
                      
                   
  
                    <div class="pt-1 mb-4">
                      <button class="btn btn-success btn-lg btn-block text-light"   type="submit">Request Your Appointment</button>
                    </div>
  
                   
                  <!-- </form> -->
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- Footer -->
<div class="div  text-dark">
    <footer class="text-center text-lg-start  text-muted">
        <!-- Section: Social media -->
        <section class="d-flex   justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block " style="color:  whitesmoke;">
                <span>Get connected with us on social networks:</span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div>
                <a href="" class="me-4 text-reset " style="color: whitesmoke;">
                    <i class="fab fa-facebook-f" style="color:  whitesmoke;"></i>
                </a>
                <a href="" class="me-4 text-reset text-white">
                    <i class="fab fa-twitter" style="color:  whitesmoke;"></i>
                </a>
                <a href="" class="me-4 text-reset text-white">
                    <i class="fab fa-google" style="color:   whitesmoke;"></i>
                </a>
                <a href="" class="me-4 text-reset text-white">
                    <i class="fab fa-instagram" style="color:   whitesmoke;"></i>
                </a>
                <a href="" class="me-4 text-reset text-white">
                    <i class="fab fa-linkedin" style="color:  whitesmoke;"></i>
                </a>
                <a href="" class="me-4 text-reset text-white">
                    <i class="fab fa-github" style="color:  whitesmoke;"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->
        <!-- Copyright -->
        <div class="text-center p-4 text-" style="background-color:   #9705a1" style="color:   whitesmoke;">
            © 2023 Copyright:
            <a class="text-reset fw-bold text-white" href="https://mdbootstrap.com/"
                style="color:  whitesmoke;">Eliteservices.com</a>
        </div>

        <!-- Copyright -->
    </footer>
</div>
<!-- Footer -->