.div{
    background-color: #9705a1;
    font-family: 'Arbutus Slab', serif;
    font-size: larger;
    color:whitesmoke;
    size: 20px;
}
.navbar{
    background-color: #9705a1;
    font-family: 'Arbutus Slab', serif;
    font-size: larger;
}
.nav-item{
color: aliceblue;
font-family:'Arbutus Slab', serif;
font-size: larger;

}
.btn{
    color: #ff7300;
    background-color: #810d8ac9;
   
}
.img{
    text-align: center;
}


.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .btn1{
    color: #ffffff;
    background-color:#810d8ac9;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.row {
    display: flex;
    justify-content: center;
    text-align:justify;
  }

  .p{
    padding-left: 20;
    text-align:center;
  }
  .container{
    font-family: Georgia, 'Times New Roman', Times, serif;

  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 9999; /* Ensure modal is on top of other content */
    display: none; /* Hide modal by default */
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .modal-body {
    max-height: calc(100% - 100px); /* Ensure modal body is scrollable */
    overflow-y: auto;
  }
  
  .modal-header .close {
    text-decoration: none;
    color: black;
    font-size: 24px;
  }
  
  /* Show modal when hash target matches its ID */
  .modal:target {
    display: block;
  }
  
  
  