.admin{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}
.btn{
    color:  #9705a1;;
    background-color: #9705a1;
    text-decoration:  #9705a1;
}
.div{
    background-color: #9705a1;
    font-family: 'Arbutus Slab', serif;
    font-size: larger;
    color:whitesmoke;
    size: 20px;
}